*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 20px;
  background-color: #e5e8ec;
}

.cart-item {
  display: flex;
  flex-direction: column;
  border: 1px solid #cccccc;
  border-radius: 5px;
  margin-bottom: 25px;
  background-color: #f4f6f9;
}
/*
.cart-table .cart-item:nth-child(odd) {
  background-color: #d8f5e2;
  f4f6f9
  e5e8ec

}
  */

.cart-item .prod-img {
  text-align: center;
  margin-top: 20px;
}
.prod-img img {
  width: 50%;
  height: auto;
  border-radius: 10px;
}
.prod-title {
  width: 100%;
  line-height: 50px;
}
.product-title-text {
  text-align: right;
  display: inline-block;
  width: 45%;
}
.prod-img,
.p-quantity,
.p-unit-price,
.p-total-price {
  width: 100%;
}
.label {
  display: inline-block;
  width: 50%;
  font-weight: bold;
  padding-left: 10px;
}
input[type="number"] {
  padding: 10px;
  width: 95%;
  border: none;
  background-color: transparent;
  text-align: right;
  width: 45%;
  display: inline-block;
  outline: none;
}
.p-quantity input {
  border: 1px solid #cccccc;
}
.btn-remove {
  background-color: transparent;
  border: 1px solid #cccccc;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.btn-remove::before,
.btn-remove::after {
  color: red;
}
.p-action,
.p-total-price,
.p-quantity,
.p-unit-price,
.p-prod-title {
  padding-top: 8px;
}
.p-action {
  text-align: center;
  margin-bottom: 20px;
}
.cart-item-title {
  display: none;
}
.cart-item-title > div {
  padding: 10px;
  width: 10%;
}

.info::after,
.info::before {
  color: yellow;
}

.cart-item-grand-total {
  border-top: 1px solid #cccccc;
}
.grand-total {
  padding-right: 10%;
  text-align: right;
  margin-bottom: 50px;
}
.grand-total span {
  font-weight: bold;
  font-size: 1.5rem;
}
.grand-total input {
  width: 50%;
  font-weight: bold;
  color: darkblue;
  font-size: 1.5rem;
  text-align: center;
}

footer {
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
}
.copyright {
  text-align: center;
}
